.not-found-bg-container {
  background: linear-gradient(
      180deg,
      #4368eb -37.08%,
      rgba(164, 184, 255, 0) 100%
    ),
    url('https://res.cloudinary.com/ddkfpnw7u/image/upload/v1684304084/movie%20app/snow-removal-machine-working-high-ski-slope-snowstorm_454047-2149_1_it4rba.png');
  background-size: cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

@media screen and (max-width: 576px) {
  .not-found-bg-container {
    background: linear-gradient(
        177.79deg,
        #4368eb -29.16%,
        rgba(164, 184, 255, 0) 98.14%
      ),
      url('https://res.cloudinary.com/ddkfpnw7u/image/upload/v1684305041/movie%20app/snow-removal-machine-working-high-ski-slope-snowstorm_454047-2149_1_1_d3xvzs.png');
    background-position: center;
    background-size: cover;
  }
}

.not-found-heading {
  font-family: 'HK Grotesk', 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 96px;
  line-height: 125px;
  color: #ffffff;
}

@media screen and (max-width: 576px) {
  .not-found-heading {
    font-size: 40px;
  }
}

.not-found-description {
  font-family: 'HK Grotesk', 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 31px;
  text-align: center;
  color: #ffffff;
}

@media screen and (max-width: 576px) {
  .not-found-description {
    font-size: 16px;
  }
}

.homepage-button {
  padding: 12px 24px;
  gap: 8px;
  width: 127px;
  height: 48px;
  background: #ffffff;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  font-family: 'Roboto';
}

@media screen and (max-width: 576px) {
  .homepage-button {
    padding: 8px 24px;
    gap: 8px;
    width: 127px;
    height: 40px;
    border-radius: 4px;
  }
}
