.account-bg-container {
  min-height: 100vh;
  background-color: #000000;
}

.account-info-container {
  background-color: #ffffff;
  min-height: 80vh;
  padding: 64px 165px;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 576px) {
  .account-info-container {
    width: 100%;
    padding: 32px;
  }
}

.horizontal-line {
  border: 1px solid #cbd5e1;
  border-radius: 10px;
}

.logout-button {
  padding: 8px 20px;
  gap: 10px;
  font-family: 'Roboto';
  color: #ffffff;
  background: #e50914;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  margin-top: 72px;
  align-self: center;
}

.account {
  font-family: 'HK Grotesk', 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 47px;
  color: #131313;
}

.membership-container {
  display: flex;
  padding-top: 24px;
  padding-bottom: 24px;
}

.membership-details-container {
  padding-left: 24px;
}

.membership {
  font-family: 'HK Grotesk', 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 31px;
  color: #94a3b8;
  margin: 0px;
}

@media screen and (max-width: 576px) {
  .membership {
    font-size: 18px;
  }
}

.email {
  font-family: 'HK Grotesk', 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 31px;
  color: #1e293b;
  margin: 0px;
}

@media screen and (max-width: 576px) {
  .email {
    font-size: 16px;
  }
}

.password {
  font-family: 'HK Grotesk', 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 31px;
  color: #64748b;
  margin: 0px;
  margin-top: 13px;
}

@media screen and (max-width: 576px) {
  .password {
    font-size: 16px;
  }
}

.plan-details-container {
  display: flex;
  align-items: center;
}

.plan-details {
  font-family: 'HK Grotesk', 'Roboto';
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 31px;
  color: #94a3b8;
}

@media screen and (max-width: 576px) {
  .plan-details {
    font-size: 18px;
  }
}

.premium {
  font-family: 'HK Grotesk', 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 31px;
  color: #1e293b;
  margin: 0px;
  margin-left: 41px;
}

@media screen and (max-width: 576px) {
  .premium {
    font-size: 16px;
  }
}

.video-quality {
  font-family: 'HK Grotesk', 'Roboto';
  font-style: normal;
  font-weight: 500;
  border: 1px solid #1e293b;
  font-size: 18px;
  line-height: 23px;
  color: #1e293b;
  padding: 2px 5px 2px 5px;
  margin-left: 20px;
}

@media screen and (max-width: 576px) {
  .video-quality {
    font-size: 14px;
    padding: 2px 5px 2px 5px;
  }
}
