.home-bg-container {
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 605px;
  width: 100%;
  background-position: center;
  background-color: #131313;
}

.video-items-bg-container {
  min-height: 605px;
  background-color: #131313;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.loader-container {
  height: inherit;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000000;
}

.failure-container {
  height: inherit;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #000000;
}

.failure-description {
  font-family: 'HK Grotesk', 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
}

@media screen and (max-width: 576px) {
  .failure-description {
    font-size: 10px;
    line-height: 13px;
  }
}

.failure-button {
  display: flex;
  align-items: center;
  padding: 4px 16px;
  gap: 8px;
  width: 94px;
  height: 32px;
  background: #ffffff;
  border-radius: 4px;
  border: none;
  cursor: pointer;
}

@media screen and (max-width: 576px) {
  .failure-button {
    width: 69px;
    height: 24px;
    padding: 4px 12px;
    font-size: 10px;
    line-height: 16px;
  }
}

.home-page-container {
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100%;
  background-position: center;
  background-color: #131313;
}

.landing-page-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: auto;
  padding: 40px;
  height: 466px;
}

.image-shadow {
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(24, 24, 24, 0.546875) 38.26%,
    #181818 92.82%,
    #181818 98.68%,
    #181818 108.61%
  );
  width: 100%;
  min-height: 166.23px;
  margin-top: auto;
}

.trending-now {
  font-family: 'HK Grotesk', 'Roboto';
  font-size: 22px;
  font-weight: 500;
  line-height: 31px;
  letter-spacing: 0px;
  text-align: left;
  margin: 0px;
  color: #ffffff;
  margin-top: 32px;
  margin-bottom: 24px;
}

@media screen and (max-width: 576px) {
  .trending-now {
    font-size: 16px;
    line-height: 20px;
  }
}

.video-items-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (max-width: 576px) {
  .video-items-container {
    padding: 0px 10px 0px 10px;
  }
}

.video-items-slick-container {
  width: 90%;
}

.slick-image-container {
  margin: 5px;
}

.slick-image {
  width: 254px;
  height: 220px;
  border-radius: 8px;
}

@media screen and (max-width: 576px) {
  .slick-image {
    width: 90px;
    height: 120px;
  }
}

.slick-container {
  height: 220px;
}

@media screen and (max-width: 576px) {
  .slick-container {
    height: 120px;
  }
}

.failure-icon {
  width: 40px;
  height: 40px;
}

@media screen and (max-width: 576px) {
  .failure-icon {
    width: 14px;
    height: 12px;
  }
}

.landing-page-bg-container {
  background-color: #131313;
  width: 100%;
  min-height: 605px;
  max-height: 605px;
}

.random-movie-info-container {
  width: 90%;
}

.random-movie-title {
  font-family: 'HK Grotesk', 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 64px;
  line-height: 62px;
  color: #ffffff;
  margin: 0px;
  margin: 24px 0px 24px 0px;
}

@media screen and (max-width: 576px) {
  .random-movie-title {
    font-size: 36px;
    line-height: 47px;
  }
}

.random-movie-description {
  font-family: 'HK Grotesk', 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  color: #ffffff;
  width: 80%;
}

@media screen and (max-width: 576px) {
  .random-movie-description {
    font-size: 16px;
    line-height: 21px;
    width: 90%;
  }
}

.slick-arrow {
  height: 30px;
  width: 30px;
}

@media screen and (max-width: 576px) {
  .slick-arrow {
    height: 20px;
    height: 20px;
  }
}
