.header {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  color: #ffffff;
  display: flex;
  align-items: center;
  height: 103px;
  justify-content: center;
}

.responsive-header-container {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-self: center;
}

@media screen and (max-width: 576px) {
  .responsive-header-container {
    width: 100%;
  }
}

.link {
  text-decoration: none;
  color: inherit;
}

@media screen and (max-width: 576px) {
  .header {
    padding: 24px 32px 24px 32px;
  }
}

.website-logo-container {
  display: flex;
  align-items: center;
}

.header-menu-container {
  list-style-type: none;
  padding-inline-start: 0px;
  display: flex;
  align-items: center;
}

@media screen and (max-width: 576px) {
  .header-menu-container {
    display: none;
  }
}

.website-logo {
  height: 39px;
  width: 135px;
  border-radius: 0px;
  margin-right: 24px;
}

@media screen and (max-width: 576px) {
  .website-logo {
    height: 27px;
    width: 100px;
  }
}

.search-icon-container {
  display: flex;
  align-items: center;
}

.profile-icon {
  padding-left: 32px;
}

@media screen and (max-width: 576px) {
  .profile-icon {
    display: none;
  }
}

.menu {
  font-family: 'Roboto';
  padding-left: 24px;
}

.mobile-menu-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style-type: none;
  background-color: rgba(0, 0, 0, 0.4);
  margin: 0px;
  padding: 5px 32px 5px 32px;
  width: 100%;
}

@media screen and (min-width: 576px) {
  .mobile-menu-container {
    display: none;
  }
}

@media screen and (min-width: 576px) {
  .mobile-menu-icon-container {
    display: none;
  }
}

@media screen and (max-width: 576px) {
  .mobile-menu-icon-container {
    height: 24px;
    width: 24px;
  }
}

.mobile-menu {
  padding: 0px;
  margin: 0px;
  font-family: 'HK Grotesk', 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: -0.355556px;
  color: #ffffff;
}

.mobile-menu-close-icon {
  color: #ffffff;
  height: 20px;
  width: 20px;
}

.search-button {
  border: none;
  background-color: transparent;
  color: #ffffff;
  cursor: pointer;
}
