.movie-item-details-container {
  min-height: 100vh;
  background-color: #000000;
  display: flex;
  flex-direction: column;
}

.movie-title {
  font-family: 'HK Grotesk', 'Roboto';
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 63px;
  color: #ffffff;
  margin: 0px;
}

@media screen and (max-width: 576px) {
  .movie-title {
    font-size: 36px;
    line-height: 47px;
  }
}

.left-shadow {
  background: linear-gradient(
    90.33deg,
    #181818 -6.5%,
    rgba(24, 24, 24, 0.6) 57.15%,
    rgba(24, 24, 24, 0) 99.77%
  );
  min-height: inherit;
  display: flex;
  flex-direction: column;
}

.movie-item-details-info-container {
  width: 80%;
  align-self: center;
}

@media screen and (max-width: 576px) {
  .movie-item-details-info-container {
    padding: 32px;
    overflow-x: auto;
    width: 100%;
  }
}

.movie-runtime-container {
  display: flex;
  align-items: center;
  padding-top: 14px;
}

.overview {
  font-family: 'HK Grotesk', 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 26px;
  color: #ffffff;
  max-width: 632px;
}

@media screen and (max-width: 576px) {
  .overview {
    font-size: 16px;
    line-height: 21px;
  }
}

.ua {
  border: 1px solid #ffffff;
  width: 55px;
  height: 27px;
  color: #ffffff;
  font-family: 'Roboto';
  padding: 2px 12px 2px 12px;
  font-size: 18px;
  font-weight: 600;
  margin-left: 16.5px;
}

@media screen and (max-width: 576px) {
  .ua {
    font-size: 16px;
    height: 25px;
    width: 51px;
  }
}

.movie-release-year {
  font-family: 'HK Grotesk', 'Roboto';
  font-size: 18px;
  font-weight: 600;
  line-height: 23px;
  letter-spacing: 0px;
  text-align: left;
  color: #ffffff;
  padding-left: 16.5px;
}

@media screen and (max-width: 576px) {
  .movie-release-year {
    font-size: 16px;
  }
}

.movie-time {
  font-family: 'HK Grotesk', 'Roboto';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 23px;
  color: #ffffff;
}

@media screen and (max-width: 576px) {
  .movie-time {
    font-size: 16px;
  }
}

.play-button {
  padding: 8px 24px 8px 24px;
  width: 74px;
  height: 40px;
  background: #ffffff;
  border-radius: 4px;
  margin-top: 32px;
  font-family: 'Roboto';
  border: none;
}

@media screen and (max-width: 576px) {
  .play-button {
    height: 32px;
    width: 76px;
    margin-top: 24px;
  }
}

.movie-genre-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-self: center;
  width: 80%;
  padding-top: 24px;
}

@media screen and (max-width: 576px) {
  .movie-genre-container {
    padding: 12px 32px;
    width: 100%;
  }
}

.movie-item-details-list {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}

.movie-item-info-heading {
  font-family: 'HK Grotesk', 'Roboto';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 26px;
  color: #94a3b8;
  padding-bottom: 8px;
  margin: 0px;
}

@media screen and (max-width: 576px) {
  .movie-item-info-heading {
    font-size: 14px;
    line-height: 18px;
  }
}

.movie-item-info-list {
  font-family: 'HK Grotesk', 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
  margin: 5px 0px;
}

@media screen and (max-width: 576px) {
  .movie-item-info-list {
    font-size: 12px;
    line-height: 20px;
  }
}

.similar-movie-container {
  align-self: center;
  width: 80%;
}

@media screen and (max-width: 576px) {
  .similar-movie-container {
    width: 100%;
    padding: 20px 32px;
  }
}

.similar-movie-heading {
  font-family: 'HK Grotesk', 'Roboto';
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 31px;
  color: #ffffff;
}

@media screen and (max-width: 576px) {
  .similar-movie-heading {
    font-size: 20px;
  }
}

.similar-movie-list-container {
  padding: 0px;
  display: flex;
  flex-wrap: wrap;
}

.similar-movie-image {
  width: 255px;
  height: 170px;
  border-radius: 8px;
  margin: 0px 30px 32px 0px;
}

@media screen and (max-width: 576px) {
  .similar-movie-image {
    width: 90px;
    height: 64px;
    margin: 0px 8px 12px 0px;
  }
}

.movie-details-loader-container {
  align-self: center;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 90vh;
}

.movie-details-failure-container {
  align-self: center;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 90vh;
}

.movie-item-details-landing-page {
  width: 100%;
  min-height: 501px;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 576px) {
  .movie-item-details-landing-page {
    height: 427px;
  }
}
