.popular-page-bg-container {
  min-height: 100vh;
  background-color: #000000;
  padding-bottom: 60px;
  display: flex;
  flex-direction: column;
}

.popular-page-failure-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.popular-page-failure {
  height: 276px;
  width: 375px;
}

@media screen and (max-width: 576px) {
  .popular-page-failure {
    width: 209px;
    height: 176px;
  }
}

.popular-movies-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 90vh;
  width: 90%;
  align-self: center;
}

@media screen and (max-width: 576px) {
  .popular-movies-container {
    width: 100%;
  }
}

.popular-movies-items {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding: 0px;
  justify-content: center;
}

.popular-movies-card-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 90vh;
  width: 100%;
}

.pagination-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.pagination-button {
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 32px;
  width: 32px;
  border: 1px solid #ffffff;
  color: #ffffff;
  cursor: pointer;
}

@media screen and (max-width: 576px) {
  .pagination-button {
    height: 24px;
    width: 24px;
  }
}

.pagination-details {
  font-family: 'Bree Serif', 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
  text-align: center;
  color: #cbd5e1;
  padding: 0px 16px;
}

@media screen and(max-width: 576px) {
  .pagination-details {
    font-size: 16px;
    line-height: 22px;
    padding: 0px 12px;
  }
}
